<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Page</title>
</head>
<body>
    <h2>Welcome {{session["first_name"]}}</h2>
    <table width="400" border="1">
        <tr>
            <th>Random things</th>
            <th>Created at</th>
        </tr>
        <tr>
            <td>Info</td>
            <td>Tuesday</td>
        </tr>
    </table>
    <a href="/logout_user">Logout</a>
</body>
</html>